*.bat
*.dat_old
*.dat
mods/
astralsorcery/
crash-reports/
journeymap/
libraries/
llibrary/
logs/
resources/
TombManyGraves/
snapshots-server/
.mixin.out/
world/
*.zip
modpack/whitelist.json
modpack/usercache.json
modpack/server.properties
modpack/ops.json
modpack/usernamecache.json
modpack/OpenComputersMod-1.7.5.192-lua53-native.64.dll
modpack/mountains.txt
modpack/OpenComputersMod-1.7.5.192-lua52-native.64.dll
modpack/minecraft_server.1.12.2.jar
External+Tweaker+Program+0.2.jar
modpack/world/level.dat_old
modpack/eula.txt
modpack/crafttweaker.log
modpack/config/worldedit/worldedit.properties
modpack/config/IC2.ini
modpack/forge-1.12.2-14.23.5.2854.jar
modpack/banned-players.json
modpack/banned-ips.json
